<!-- home-->
<main class="main">

  <div data-slide="intro" class="section intro" id="intro" aria-labelledby="intro-heading">
    <div class="section__inner">
      <div class="fake-ed">
        <figure class="section__fig intro__fig">
          <img src="/img/eye.png" width="200" height="200" alt="eye" class="section__fig-img">
        </figure>
        <h1 class="section__heading" id="intro-heading">
          <%= content.intro.title %>
        </h1>
      </div>
    </div>
  </div>

  <div data-slide="info" class="section info" id="info" aria-labelledby="info-heading">
    <div class="section__inner">
      <div class="fake-ed">
        <h2 class="section__heading" id="info-heading">
          <%= content.info.title %>
        </h2>
        <p>
          <%= content.info.body %>
        </p>
      </div>
    </div>
  </div>

  <div data-slide="service" class="section service" id="service" aria-labelledby="service-heading">
    <div class="section__inner">
      <div class="fake-ed">
        <h2 class="section__heading" id="service-heading">
          <%= content.services.title %>
        </h2>
        <ul class="list service__list" role="list" aria-label="Programming languages and tools">
          <% content.services.body.forEach((service)=> { %>
          <li class="list__item service__item">
            <%= service %>
          </li>
          <% }); %>
        </ul>
      </div>

    </div>
  </div>

  <div data-slide="contact" class="section contact" id="contact" aria-labelledby="contact-heading">
    <div class="section__inner">
      <div class="fake-ed">

        <figure class="section__fig contact__fig">
          <img src="/img/mouth.png" width="200" height="200" alt="hands" class="section__fig-img">
        </figure>
        <h2 class="section__heading" id="contact-heading">
          <%= content.contacts.title %>
        </h2>
        <ul class="list" role="list" aria-label="Contact methods">

          <% content.contacts.body.forEach(function(contact) { %>
          <li class="list__item">
            <% if (contact.url.includes('@')) { %>
            <a href="mailto:<%= contact.url %>" title="<%= contact.label %>"
              aria-label="<%= contact.label %>"><%= contact.label %></a>
            <% } else { %>
            <a href=" <%= contact.url %>" title="<%= contact.label %>" aria-label="<%= contact.label %>">
              <%= contact.label %>
              <svg role="image" aria-hidden="true" class="icon icon--external-link" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <use href="#icon-external-link" />
              </svg>
            </a>
            <% } %>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</main>

<!-- /home-->