<!-- partials/contact-list -->
<ul class="list" role="list" aria-label="Contact methods">
  <% content.forEach(function(contact) { %>
  <li class="list__item">
    <% if (contact.url.includes('@')) { %>
    <a href="mailto:<%= contact.url %>?subject=<%= app.tagline %>" title="<%= contact.label %>"
      aria-label="<%= contact.label %>"><%= contact.label %></a>
    <% } else { %>
    <a href=" <%= contact.url %>" title="<%= contact.label %>" aria-label="<%= contact.label %>">
      <%= contact.label %>
      <svg role="image" aria-hidden="true" class="icon icon--external-link" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <use href="#icon-external-link" />
      </svg>
    </a>
    <% } %>
  </li>
  <% }); %>
</ul>
<!-- /partials/contact-list -->